body {
    display: flex;
    justify-content: space-around;
}

* {
    outline: none;
}

.main-container {
    margin: auto;
    width: auto
}

input {
    font-size: 15px;
    padding: 9px;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    margin-right: 15px;
    width: 95%;
    display: unset;
    background-color: white
}

input:focus {
    outline: none;
    border: 1.5px solid #1a73e8;
    background-color: white
}

input:disabled {
    outline: none;
    display: unset;
}

button {
    background-color: #1192f6;
    color: white;
    height: 37px;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    float: right;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer
}

button:hover {
    background-color: #1a73e8;
    border-color: #0a8cf0;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: 500;
    float: right;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    cursor: pointer
}

button:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(54, 163, 247, .5);
    opacity: 1;
    box-shadow: 0 0 0 .2rem rgba(54, 163, 247, .5)
}

button:disabled {
    opacity: 0.5;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-top: 14px;
    background-color: white;
    border: 1px solid #e4e4e4;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2)
}

.footer .languages {
    font-size: 12px
}

.footer a {
    padding-left: 24px;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: 500
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: auto;
    bottom: 0;
    max-width: 85px;
    max-height: 250px;
    overflow: auto;
    padding: 5px 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2)
}

#kc-locale ul li a:hover {
    background-color: #e4e4e4
}

@media (max-width: 767px) {
    #kc-locale {
        position: relative;
        width: auto;
        top: auto;
        bottom: 0;
        left: 0;
        text-align: right;
        z-index: 9999
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
    overflow-x: auto
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: gray;
    overflow-x: auto
}


a.helpLink.tiny, .intro {
    display: none;
}

.content-footer {
	display: flex;
	align-items: center;
	margin-top: -58px;
	float: left;
	justify-content: space-between
}

#email_intro{
	display: none;
	visibility: hidden;
}

#email{
	width:95%;
}

#attributeVerification .buttons{
	margin-right: 10px;
}

#attributeVerification #attributeList{
	width: auto;
}

.buttons.verify {
    margin-top: 28px;
    margin-bottom: 10px;
}

#cancel {
	display:none;
}

#go-back {
	color: #212529;
	border-color: #f6f9fc;
	background-color: #f6f9fc;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}

#go-back:hover {
	color: #212529;
	border-color: #f6f9fc;
	background-color: #f6f9fc
}

#go-back.focus,
#go-back:focus {
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(246, 249, 252, .5)
}


#go-back:not(:disabled):not(.disabled).active,
#go-back:not(:disabled):not(.disabled):active,
.show>#go-back.dropdown-toggle {
	color: #212529;
	border-color: #f6f9fc;
	background-color: #d0e0ef
}

#go-back:not(:disabled):not(.disabled).active:focus,
#go-back:not(:disabled):not(.disabled):active:focus {
	box-shadow: none, 0 0 0 0 rgba(246, 249, 252, .5)
}


.error.itemLevel {
    width: auto;
    position: absolute;
    color: #ef862c;
    outline: none;
    margin-top: 26px;
}

.error.pageLevel {
    color: #ef862c;
    outline: none;
    text-align: center;
}

.error.itemLevel.show {
    width: auto;
    position: absolute;
    color: #ef862c;
    outline: none;
    margin-top: 40px;
}

#kc-locale li {
    display: unset;
    margin-right: unset;
    margin-bottom: unset;
}

#attributeList {
        width: auto;
}

@media screen and (orientation: portrait) {
    li {
        display: block;
    }

    li:nth-child(5) {
        margin-top: 42px;
    }

    .error.itemLevel.show {
        width: auto;
    }
}

.textInput.invalid:focus, .highlightError:focus {
    outline: none;
    border-radius: 4px;
    border: 0.4px solid #ffa27b;
    background-color: white
}

#email_ver_but_resend, #email_ver_but_verify {
    margin-top: 27px;
}

#email_ver_input {
	width: 50%;
    margin-right: 0px;
}

#email_info {
    color: #ef862c;
    outline: none;
    float: left;
    margin-bottom: 15px;
    text-align: center;
}

.verificationErrorText.error {
    width: auto;
    text-align: center;
    position: relative;
    color: #ef862c;
    outline: none;
    bottom: 5px;
}

#email_ver_input_label {
	visibility: hidden;
}


@media screen and (max-width: 400px) and (orientation: portrait) {

    .footer, .signin-main-container{
       border: none;
       border-radius: unset;
       box-shadow: unset;
       background-color: unset;
    }

    body {
       display: unset;
       background-image: unset;
    }

}

.attrEntry{
    text-align: center;
}